ion-card{
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
}

ion-card-header ion-avatar{
    margin-left: auto;
    margin-right: auto;
}

p.notaCentrada {
    font-size: 1rem;
    text-align: center;
    margin: 0.5rem;
}